spring:
  datasource:
    url: jdbc:h2:mem:maindb
  sql:
    init:
      mode: never
  jpa:
    hibernate:
      ddl-auto: none
      format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.jdbc: DEBUG
    org.hibernate.SQL: DEBUG